<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="">
      <p class="title is-1">
        404
      </p>
      <p class="subtitle is-1">
        Page not found
      </p>
    </div>
  </div>
</section>
