<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                Create, Explore and Share playlists on Playlister !
            </p>
        </div>
    </div>
</section>