<div class="section">
    <p class="title is-1">Contact us</p>
</div>
<div class="section">
    <div class="columns has-text-centered">
        <div class="column">
            <div class="box has-background-primary is-three-quarter-high has-text-white">
                <p class="title has-text-white">Address</p>
                <p>88 Kärrhogsgatan</p>
                <p>52212 Jönköping</p>
                <p>Sweden</p>
            </div>
        </div>
        <div class="column">
            <div class="box has-background-primary is-three-quarter-high has-text-white">
                <p class="title has-text-white">Phone</p>
                <p>+33606611700</p>
            </div>
        </div>
        <div class="column">
            <div class="box has-background-primary is-three-quarter-high has-text-white">
                <p class="title has-text-white">Email</p>
                <p>spna20bv@student.ju.se</p>
            </div>
        </div>
    </div>
</div>