<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                Welcome to Playlister
            </p>
            <p class="subtitle">
                The best playlist platform
            </p>
            <img src="/icons/PlayLister.svg" height="250" width="250" alt="">
        </div>
    </div>
</section>