<section class="section is-small">
    <div class="columns">
        <div class="column has-text-left">
            <h1 class="title">Playlists</h1>
        </div>
        <div class="column has-text-right">
            <a class="button is-primary" href="/playlist-create">Create playlist</a>
        </div>
    </div>
    <div class="container">
        <div class="columns is-multiline">
            {{#each playlists}}
            <div class="column is-3">
                {{>playlistCard content=this}}
            </div>
            {{/each}}
        </div>
    </div>
</section>
