.dropdown-item-add-playlist {
    background-color: unset;
    border: unset;
    cursor: pointer;
}

.dropdown-item-add-playlist:hover {
    border:none;
    background-color: #F5F5F5;
}

.body-style {
    min-height: 100vh;
}